/* Este repositório base foi criado para te ajudar caso você não saiba como começar. Lembre-se de que o portfólio é a sua carta de apresentação e você deve dar a sua cara. Por isso, convidamos você a personalizá-lo de acordo com o seu estilo e preferências; não se limite apenas ao layout proposto no Figma. */
:root {
    --cor-de-fundo: #F5F5F5;
    --cor-de-fundo-menu: #ffffff;
    --cor-de-fundo-section-alternada: #eaf2fd;
    --cor-do-link: #000000;
    --cor-botao: #2A7AE4;
    --cor-placeholder: #A2A2A2;
}

*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: 'Raleway', sans-serif;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    line-height: 1.6;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
}

ol, ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--cor-do-link);
}

.cabecalho,.apresentacao,.sobre-mim,.habilidades,.hobbies,.contato {
    padding: 1rem;
}

/* ------------------------------ Seção Menu -------------------------------*/
.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 3.5rem;
    background-color: var(--cor-de-fundo-menu);
}

.autor {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}
.autor__logo {
    max-width: 80px; /* Ajuste para telas pequenas */
}

.autor__titulo {
    font-size: 1rem;
    text-align: center;
}

.navegacao {
    display: flex;
    flex-direction: row;
    gap: 1rem;
} 
.navegacao__lista {
    display: none;
}

.navegacao__permanente {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.navegacao__elemento a {
    font-size: 0.9rem;
}
/* ------------------------------ Seção Apresentação ------------------------------*/
.apresentacao {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.apresentacao__foto {
    height: 6.125rem;
    width: 6.125rem;
    border-radius: 30rem;
}

.apresentacao__conteiner {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.redes {
    display: flex;
    gap: 0.5rem;
    /* flex-wrap: wrap; */
}
/* ------------------------------ Seção Sobre mim ----------------------------------*/
.sobre-mim {
    background-color: var(--cor-de-fundo-section-alternada);
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}

/* Dimenssões da imagem da assinatura, pois sem ela, em display flex a imagem aumenta proporcionalmente a tela. */
.sobre-mim__assinatura {
    height: 52px;
    width: 294px;
}

/*------------------------------ Seção de Habilidades ------------------------------*/
.habilidades {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.habilidades__titulo {
    align-self: center;
}

.habilidades__lista {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
}

.habilidades__elemento {
    height: 118px;
    min-width: 118px;
    width: 47%;
    background-color: var(--cor-de-fundo-menu);
    padding: 16px;
    gap: 8px;
}

/*------------------------------ Seção de Hobbies --------------------------------*/
.hobbies {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.hobbies__titulo {
    align-self: center;
}

.hobbies__lista {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
}

.hobbies__elemento {
    height: 118px;
    min-width: 118px;
    width: 47%;
    background-color: var(--cor-de-fundo-menu);
    padding: 16px;
    gap: 8px;
}

/*------------------------------ Seção de Formação Acadêmica -----------------------*/

.formacao {
    background-color: var(--cor-de-fundo-section-alternada);
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: 0.625rem;
    padding: 32px;
}

.formacao__titulo {
    align-self: center;
}

.formacao__lista {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 100%;
}

.formacao__elemento {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 100%;
}

.formacao__caixa {
    height: 118px;
    width: 100%;
    background-color: var(--cor-de-fundo-menu);
    display: flex;
    justify-content: center;
    align-items: center;
}

.formacao__icone {
    height: 146px;
    width: 250px;
}

/*------------------------------ Seção de Projetos --------------------------------*/
.projetos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;
    gap: 16px;
}

.projetos__container {
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.projetos__projeto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 16px;
}

.projetos__img {
    width: 100%;
}

.projetos__txtbox {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.projetos__btnbox {
    display: flex;
    gap: 16px;
}

.projetos__button__repo, .projetos__button__demo {
    height: 40px;
    padding: 12px 16px;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 16.44px;
}

.projetos__button__repo {
    color: var(--cor-botao);
    border: 1px solid black;
}

.projetos__button__demo {
    background-color: var(--cor-botao);
    color: var(--cor-de-fundo);
    border: 1px solid var(--cor-botao);
}



/*------------------------------ Seção de Contato ---------------------------------*/
  .input__pai {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.float-label {
    position: relative;
    height: 37px;
    width: 100%;

  }
  
  .float-label label,
  .float-label input {
    display: block;
    position: absolute;
    width: 100%;
    padding-left: 8px;
    height: 48px;
    box-sizing: border-box;
  }
  
  .float-label label {
    transition-duration: 0.2s;
    left: 2px;
    top: 32px;
    color: #C8C8C8;
  }
  
  .float-label input {
    top: 17px;
    padding-top: 10px;
    border: none;
    border-bottom: 1px solid #C8C8C8;
    border-radius: 4px;
    background-color: #ffffff;
  }
  
  input:focus {
    outline: none;
    border-bottom: 2px solid #2A7AE4;
  }

  .float-label input:valid + label {
    top: 18px;
    color: #2A7AE4;
    font-size: 12px;
  }

  .textarea__pai {
    height: 133px;
  }

  .float-label textarea {
    display: block;
    position: absolute;
    resize: none;
    padding: 8px;
    width: 100%;
    height: 133px;
    border: none;
    border-bottom: 1px solid #C8C8C8;
    border-radius: 4px;
    background-color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
  }

  .float-label textarea::placeholder {
    color: #C8C8C8;
  }

  textarea:focus {
    outline: none;
    border-bottom: 2px solid var(--cor-botao);
  } 

.contato {
    display: flex;
    flex-direction: column;
    background-color: var(--cor-de-fundo-section-alternada);
}

.contato__img {
    display: none;
}

.contato__txt {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.contato__cabecalho {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.contato__formulario {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.contato__button {
    min-height: 40px;
    min-width: 151px;
    width: fit-content;
    padding: 12px 16px;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 16.44px;
    background-color: var(--cor-botao);
    color: var(--cor-de-fundo);
    border: 1px solid var(--cor-botao);
}

/* ------------------------------ Responsividade ---------------------------------------*/

/* Tablets e telas maiores */
@media (min-width: 564px/*768px*/) { 
    .cabecalho,.apresentacao,.sobre-mim,.habilidades,.hobbies,.formacao,.projetos,.contato {
        padding: 2rem;
    }

    .cabecalho {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        max-width: 100vw;
    }

    .autor__logo {
        max-width: 100px;
    }

    .autor__titulo {
        /* font-size: 1.5rem; */
    }

    /* Navegação tablet */
    /*.navegacao__lista {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        /* margin-top: 0; */
    /* } */

    .navegacao__permanente {
        padding: 0;
    }

    .navegacao__elemento a {
        font-size: 1rem;
    }

    .apresentacao {
        flex-direction: row-reverse;
        align-items: center;
    }

    .apresentacao__foto {
        height: 9.125rem;
        width: 9.125rem;
    }

    .redes {
        gap: 2rem;
        flex-wrap: wrap;
    }

    .habilidades__elemento, .hobbies__elemento {
        width: 31%;
    }

    .formacao__lista {
        width: 33%;
    }

}

/* Telas grandes */
@media (min-width: 1104px/*1024px*/) {
    /* Aqui você pode ajustar ainda mais o design para telas grandes */
    body {
        gap: 2rem;    
    }

    .cabecalho,.apresentacao,.sobre-mim,.habilidades,.hobbies,.formacao,.projetos,.contato {
        padding: 0 9.5rem;
    }

    .cabecalho {
        height: 5.5rem;
    }

    .cabecalho__titulo {
        font-size: 1.8rem;
    }

    .navegacao__lista {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        /* margin-top: 0; */
    }

    .navegacao__elemento a {
        /* font-size: 1.1rem; */
    }

    .apresentacao__foto {
        height: 23rem;
        width: 23rem;
    }

    .sobre-mim {
        padding-top: 64px;
        padding-bottom: 64px;
        padding-right: 30%;
    }

    .habilidades__elemento, .hobbies__elemento {
        width: auto;
    }

    .formacao__lista {
        width: auto;
    }

    .formacao__caixa {
        height: 286px;
        width: 368px;
    }

    .projetos__projeto:nth-child(even) {
        flex-direction: row-reverse;
    }

     .projetos__projeto {
        flex-direction: row;
        align-items: center;
    }

    .projetos__img {
        max-width: 771px;
    }
}
